.renderer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &__title {
        display: flex;
        width: inherit;
        justify-content: space-between;
        align-items: center;

        &__text {
            font-size: 1.5rem;
        }

        &__exportButton {
            padding: .25rem 1rem;
            font-size: 1.15rem;
            border: .25rem solid white;
            background-color: transparent;
            color: white;
            border-radius: 1rem;
            transition: background-color .25s ease-in-out;
        }

        &__exportButton:hover {
            cursor: pointer;
            background-color: #0077ff;
        }
    }

    
    #renderedText {
        padding: 1rem;
        border: .15rem solid #808080;
        border-radius: 1rem;
        height: 70vh;
        width: 80%;
        resize: none;
        overflow: auto;
        overflow-x: hidden;
    }
}

.export-file-name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the div itself */
    background-color: rgba(0, 0, 0, 0.8);
    border: .25rem solid white;
    border-radius: 1rem;
    padding: 2rem;

    #exportFileNameInput {
        font-size: 1.25rem;
        background-color: #858585;
        border: none;
    }

    .buttonControls {
        margin-top: 1.25rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        &__button {
            padding: .25rem 1rem;
            font-size: 1.15rem;
            border: .25rem solid white;
            background-color: transparent;
            color: white;
            border-radius: 1rem;
            transition: background-color .25s ease-in-out;
        }

        .export:hover {
            cursor: pointer;
            background-color: green;
        }

        .cancel:hover {
            cursor: pointer;
            background-color: red;
        }
    }
}