@import url('https://fonts.cdnfonts.com/css/rem');
@import url('https://fonts.cdnfonts.com/css/adlam-display');

html,
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.hidden {
    display: none;
}

/* scroll width */
::-webkit-scrollbar {
    width: 0px;
}

body {
    min-height: 100vh;
    background-color: #262626;
    color: white;
    font-family: 'REM', sans-serif;

    .title {
        text-align: center;
        font-family: 'ADLaM Display', sans-serif;
        font-size: 3rem;
        margin: 0;
        padding-top: 1rem;
    }

    footer {
        width: 100vw;
        position: absolute;
        bottom: 0;
        background-color: #171717;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .footer-text {
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                margin-left: 1rem;
                margin-right: .25rem;
                color: white;
            }
        }
    }
}